@page
@model App0502Aula.Pages.Usuarios.IndexModel
@{
    var msg = TempData["Mensagem"] as string;
    var tipo = TempData["MensagemTipo"] as string ?? "info"; //success ou info ou warning ou danger
}

<div class="text-center">
    <h1 class="display-4">Cadastro de usuários</h1>
</div>

@if (!string.IsNullOrEmpty(msg))
{
    <div class="alert alert-@tipo mb-3">@msg</div>
}

@if(Model.Usuarios != null && Model.Usuarios.Count != 0) 
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Email</th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var u in Model.Usuarios)
            {
                <tr>
                    <td>@u.Id</td>
                    <td>@u.Nome</td>
                    <td>@u.Email</td>
                    <td class="text-center"> 
                        <a class="btn btn-outline-info" asp-page="/Usuarios/Detalhar" asp-route-id="@u.Id">Detalhar</a>
                        <a class="btn btn-outline-warning" asp-page="/Usuarios/Editar" asp-route-id="@u.Id">Editar</a>
                        <a class="btn btn-outline-danger" asp-page="/Usuarios/Excluir" asp-route-id="@u.Id">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<a asp-page="Criar" class="btn btn-primary">Ir para cadastro</a>